//COLORS
$color-primary:#ed8f03cc;
$color-primary-light:#ffd39ecc;
$color-primary-dark:#ff910ade;

$text-light:#776;
$bg-light:#fff;

$color-warning:#cd0a0a;

$text-color-button:#777;
$color-black:#000;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #333;

$color-second-light:#7ed56f;
$color-second-dark:#6fe25a;


$color-third-light:#7cc0ff;
$color-third-dark:#6ea9e0;

//FONT SIZES
$default-font-size:1.8rem;

//GRID
$grid-width:114rem;
$space-vertical:8rem;
$space-vertical-small:6rem;
$space-horizontal:3.5rem;